@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body { height: 100%; }

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	}
	
	.inner {
		vertical-align: middle;
	}
	
	.counterTotal {
		display: block;
		width: 200px;
		margin: 0 auto;
		font-size: 72px;
		margin-bottom: 20px;
	}

	.subCounterDiv {
		display: block;
		width: 200px;
		margin: 0 auto;
		font-size: 52px;
			}

	.btn {
		display: block;
	  	cursor: pointer;
		font-size: 52px;
    	text-align: center;
		margin: auto;
		margin-bottom: 20px;
	}
	
	.reset {
		display: block;
		width: 200px;
		margin: 0 auto;
		font-size: 24px;
		}

	.warningDiv {
		display: none;
	}

	.hlTotal {
		font-size: 32px;
	}
	
}